body{
      background:#EEE;
}
header{
      background-color:#6A6A6A;
      
}
section{
      
}
.flex-container{
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  display: -webkit-box;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  -webkit-flex-flow: row wrap;
                  justify-content: space-around;
      
}
.flex-item {
              
             /* width: 200px;
              height: 150px;
              margin-top: 10px;
              line-height: 150px;
              color: black;*/
              
              
}
img{
      display: flex;
      border-radius:500px;
      size:1px;
}
      h2{
           size:5em;
        }
        
footer{
      background-color:#585858;
      size:500px;
}
