body{
      background:#EEE;
}
header{
      padding: 0;
      margin: 0;
      background-image:url("https://41.media.tumblr.com/d94031ac75c09218dfb793cdc78f338d/tumblr_n1n4q9KSpz1s97snko1_540.jpg");
      
}
nav{
      padding: 0;
      margin: 0;
      background: #F24C27;
}
section{
      
}
.flex-container{
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  display: -webkit-box;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  -webkit-flex-flow: row wrap;
                  justify-content: space-around;
                  
      
}
.flex-item {
          
             background: #FFFFFA;/*#DBDBDB*/
             text-align: center;
             border-radius: 5px;
             
              
              
}
img{
      border-radius:500px;
      size:1px;
}
        
footer{
      background-color:#024959;
      text-align: center;
     
}
ul{
      text-align: center;
}
