body{
      background:#EEE;
}
header{
      background-color:#6A6A6A;
      
}
article{
      border: 5px;
      border-color: #585858;
      border-style: solid;
      border-radius:300px;
      
}
img{
      border-radius:500px;
      size:1px;
}
footer{
      background-color:#585858;
      size:100px;
}
